.moderation-card {
    border-left: 6px solid var(--primary-color);
}

.badge-user {
    background: var(--ksu-light-blue);
    padding: 4px 12px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 600;
    color: var(--primary-color);
}

.time-range-text {
    font-weight: 800;
    font-size: 1.2rem;
    color: var(--text-main);
}

.reason-text {
    background: #f8f9fa;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 14px;
}

.reject-box {
    padding: 15px;
    background: #fff1f0;
    border-radius: var(--radius-10);
    border: 1px solid var(--error-text);
}

.bg-error {
    background-color: var(--error-text) !important;
}